node_modules
.next
out

public/cesium
tsconfig.tsbuildinfo

.env.local
.env*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

research/data/raw/*
!research/data/raw/README.md

research/artifacts/*
!research/artifacts/.gitkeep
!research/artifacts/autoencoder/
